POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_CORE_DB=core
POSTGRES_ELEICAO_DB=eleicao

RABBITMQ_DEFAULT_USER=yan
RABBITMQ_DEFAULT_PASS=yan

JWT_SECRET=MN4064ZQbSAr4cijQMphT8dbpGgJoOaeL6aFF/wKhkA=

FRONTEND_PORT=4200
COLETOR_PORT=28080
CORE_PORT=28081
RABBITMQ_MANAGEMENT_PORT=15672
